name: Deploy React App on Surge with Yarn

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

 
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: Install NodeJS
      uses: actions/setup-node@v2-beta
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build --if-present
      env:
        CI: true   
        
        
    - uses: borales/actions-yarn@v2.0.0
      with:
        cmd: install
        
    - name: Build React App
      run: yarn build
      
    # Install Surge
    - name: Install Surge
      run: npm install --global surge
    
    # Deploy Surge
    - name: Deploy React App to Surge
      run: surge ./build ${{secrets.SURGE_DOMAIN}} --token ${{ secrets.SURGE_TOKEN }}
